@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Playfair+Display);

.nav-container {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: #fff;
}

.nav-link {
  color: #000;
  font-size: 20px;
  margin-right: 50px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

#special {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  height: 4vh;
  margin-left: 5vh;
  float: left;
  width: 100%;
}

#hamburger {
  color: #000;
  margin-left: 5vh;
}

.nav-mobile ul {
  margin-left: 5vh;
}

.nav-mobile ul li {
  height: 50px;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1466584820433-9ad1cc6798f3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9f7505bb480c7663d0e56e3f2f3f62e5");
  background-size: cover;
  background-repeat: no-repeat;
}

.landing {
  border: 10px #fff solid;
  padding: 50px;
}

.landing h1{
  color: #fff;
  font-size: 150px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
}


@media screen and (max-width: 768px) {
    .nav-link {
      display: none;
    }
    .nav-container {
      display: flex;
      justify-content: flex-start;
      position: static;
    }
}

@media screen and (min-width: 768px) {
    #hamburger {
        display: none;
    }

    .nav-mobile {
      display: none;
    }
}
